h2 {
            color: #0A0909;
        }
        .course {
            margin-bottom: 20px;
        }
        .course-title {
            font-size: 1.3em;
            color: #0073e6;
        }
        .course-description {
            font-size: 1em;
            color: #555;
        }
