@media (min-width: 600px) {
    .grid_4 {
        width: 48%;
    }
}

@media (min-width: 900px) {
    .grid_12 {
        width: 100%;
    }

    .grid_4 {
        width: 23%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}
